img{
    width: 400px;
    height: auto;
}

p, img, h1{
    text-align: center;
    font-size: 20px
}

.dissrespect{
    text-align: left;
}

.enfant {
    border: 1px solid royalblue;
    color: white;
    background-color: royalblue;
    width: 160px;
    padding: 5px;
    margin-top: 2px;
    margin-right: 4px;
    text-align: center;
    display: inline-block;
}

.parent{
    height: 200px;
    width: 100%;
    text-align: right;
}

#head {
    display: flex;
    flex-direction: row;
    background-image: url("Images/datterex.jpg");
    background-size: 100%;
    padding-bottom: 110px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li {
    margin-right: 60px;
}

a {
    text-decoration: none;
}

a:hover {
    background: #FFF;
}

footer {
    text-align: center;
    margin-top: 10px;
}

#YoDawg {
    text-align: center;
}
body{
    background-color: green;
}

#AAA {
    margin-right: 30%;
    margin-left: 10%;
}

#AAA p {
    color : #ff33c4;
}