body,html,h1,h3,p,div,header{
	margin: 0;
	padding: 0;
}
body{
	background-color: #F3F4F5;
}
header{
	padding: 20px;
	text-align: center;
	font-size:10px;
	color: aliceblue;
	font-family: 'Sen', sans-serif;
	background-color: blueviolet;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.sondage{
	width: 100%;
}

.sondage form{
	display: inline-block;
}
.sondage #yes input{
	background: #06A600;
}

.sondage #no input{
	background: #FF3F00;
}


h2{
	margin-left: 10px;
	font-size:17px;
	font-family: 'Roboto Condensed', sans-serif;
}
.profil{
	-moz-box-shadow:     0 0 7px #a6a6a6;
    -webkit-box-shadow:  0 0 7px #a6a6a6;
    box-shadow:          0 0 7px #a6a6a6;
	width: 100px;
	height: 100px;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
}
.text{
	position: absolute;
	margin-left: 20px;
	margin-top: 5px;
	display: inline-block;
}
.subtitle{
	font-size: 12px;
	color: rgba(53,53,53,1.00);
}
.profilContenaire{
	text-align: left;
	  position: relative;
	width: 100%;
	display: inline-block;
	margin: 10px;
}

.contenaire h3{
	margin-bottom: 10px;
}

.contenaire {
	position: relative;
	transition: 0.5s;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 20px;
	background-color: rgba(255,255,255,1.00);
	width: calc(80% - 10px);
	height: auto;
	text-align: center;
	font-size:15px;
	font-family: 'Sen', sans-serif;
	margin-left: 5%;
	border-radius: 10px;
	-moz-box-shadow:     0 0 7px #a6a6a6;
    -webkit-box-shadow:  0 0 7px #a6a6a6;
    box-shadow:          0 0 7px #a6a6a6;
	border-left: solid 5px blueviolet;
}
.contenaire .invisible{
	visibility: hidden;
	width: 0;
	height: 0;
	margin: 0;
	position: fixed;
}

input {
  	-moz-box-shadow:     0 0 2px #a6a6a6;
    -webkit-box-shadow:  0 0 2px #a6a6a6;
    box-shadow:          0 0 2px #a6a6a6;
}

.active .invisible{
	visibility: visible;	
	width: auto;
	height: auto;
	position: relative;
}
.active{
	border-left: solid 5px red;
}
footer{
	padding: 20px;
	text-align: center;
	font-size:8px;
	color: aliceblue;
	font-family: 'Sen', sans-serif;
	background-color: blueviolet;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}


.form-style-2{
	max-width: 500px;
	font: 13px Arial, Helvetica, sans-serif;
}
.form-style-2-heading{
	font-weight: bold;
	font-style: italic;
	border-bottom: 2px solid #ddd;
	margin-bottom: 20px;
	font-size: 15px;
	padding-bottom: 3px;
}
.form-style-2 label{
	display: block;
	margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.form-style-2 span.required{
	color:red;
}
.form-style-2 .tel-number-field{
	width: 40px;
	text-align: center;
}
.form-style-2 input.input-field, .form-style-2 .select-field{
	width: 48%;	
}
.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
 .form-style-2 .select-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
	border: 1px solid #0C0;
}
.form-style-2 .textarea-field{
	height:100px;
	width: 55%;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #FF8500;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
	background: #EA7B00;
	color: #fff;
}

.input-file-container {
  position: relative;
  width: 225px;
	margin-left: auto;
	margin-right: auto;
} 
.js .input-file-trigger {
  display: block;
  padding: 14px 45px;
  background: #39D2B4;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: #34495E;
  color: #39D2B4;
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}



.popUp{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.75);
	top: 0;
	left: 0;
}

.popUpChild{
position: fixed;

top: 5%;

left: 5%;

width: 70%;

border-radius: 10px;

-moz-box-shadow: 0 0 7px #a6a6a6;

-webkit-box-shadow: 0 0 7px #a6a6a6;

box-shadow: 0 0 7px #a6a6a6;

background-color: white;

height: 70%;

padding-left: 10%;

padding-right: 10%;
	overflow: scroll;
}
.textIdea{
	height: 100px;
}
.widgetMeteo{
	margin-left: auto;
	margin-right: auto; 
}
.invisibleComment{
	visibility: hidden;
	position: fixed;
}
.txtcenter {
  margin-top: 4em;
  font-size: .9em;
  text-align: center;
  color: #aaa;
}
.copy {
  margin-top: 2em;
}
.copy a {
  text-decoration: none;
  color: #1ABC9C;
}