p{
    color: white;
}
img{
    height: 400px;
    width: 400px;
}
body{
    background-color: rgb(30, 255, 0);
    margin: 0;
    padding: 0;
}

.box1{
    background-color: red;
    width: 100%;
}
.p1,.p2,.p3,.p4{
    display: inline-block;
    margin: 20px;;
}
.rigth{
    display: inline-block;
    position: absolute;
    right: 0;
}
.box2{
    width: 50%;
    height: 50%;
    background-color: rgb(4, 0, 255);
}